* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Inter', sans-serif;
}

:root{
  --main:#5E0DC7;

  --icons:#9747FF;
}
nav{
  
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 9.90%, rgba(0, 0, 0, 0.16) 25.52%, rgba(0, 0, 0, 0.27) 46.35%, rgba(0, 0, 0, 0.34) 67.19%, rgba(0, 0, 0, 0.45) 85.94%, rgba(0, 0, 0, 0.50) 97.40%), rgba(94, 13, 199, 0.66);

  height: 402px;
  display: flex;
  
} 
.arrow{
  width: 14px;
  height:26px;

}
.arrow2{
  width: 16px;
  height:24.73px;
  color: #9747FF;
  
}
img {
  display: block;
  width: 100%;
  

}
.image{
  width: 375px;
  height: 375px;
  border-radius: 59px;
  margin: 44px 102px 0 0 ;
  justify-content: center;
  align-items: center;
 
}
.image img{
  border-radius: 59px;
}
h1 {
  font-weight: 800;
  font-size: 48px;
  color: white;
  line-height: 50.09px;
  padding-bottom: 30px;
}
 p{
  font-weight: 400;
  font-size: 24px;
  color: white;
  line-height: 50px;
  padding-bottom: 29.05px;
}
.next{
  margin: 33px 51px 0  44px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
    justify-content: center;
    align-items: center;
 
}
.next2{
 
  
  width: 50px;
  height: 50px;
  background-color:#9747FF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title{
  justify-content: center;
  align-items: center;
  margin-top: 103px;
}
main{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.70) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(5, 1, 1, 0.24) 39.58%, rgba(7, 1, 1, 0.33) 55.21%, rgba(9, 1, 1, 0.41) 68.75%, rgba(0, 0, 0, 0.55) 82.81%, rgba(0, 0, 0, 0.60) 97.40%), rgba(94, 13, 199, 0.66);
  /* min-height: 672px; */
  min-height: 100vh;
}
.follow{
  background-color: transparent;

  border: 1px solid white;
  color: white;
  margin-left: 38px;
  width: 119px;
  height: 51px;
  border-radius: 6px;
  font-size: 20px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 27px 187px 0 97px;
}
.sub-container{
   display: flex;
   justify-content: space-between; 

  
  padding-bottom: 19px;
  
  
 


 
}



.share{

  width: 45px;
  height: 45px;
  margin-left: 37px;
}
.dot{
  width: 48px;
  height: 48px;
  margin-left: 37px;
}
.sub-sub-container{
 
 display: grid;
grid-template-columns: repeat(3, 0.5fr);
 margin-bottom: 26px;

}
.sub-sub-container :nth-of-type(1) {
  order: 2;
}
.sub-sub-container :nth-of-type(2) {
  order: 2;
}
.sub-sub-container :nth-of-type(3) {
  order: 3;
}
.body-container{
  display: flex;
 justify-content: space-between;
 margin-bottom: 26px;
}
.heart{
  width: 38px;
  height: 38px;

 
  
}
i{
  font-size: 30px;
  
  color: var(--icons);
 

  font-weight: 300;


}

.music-sub{
  display: flex;
  
}
.icons-sub{
  display: flex;
  margin-left: 2rem;
  
}
.music-log{
  width: 100px;
  height: 100px;
  margin-right: 37px;

}
.list-title{
   font-size: 24px;
   font-weight: 700;
   line-height: 29.05px;
   color: white;
   margin-top: 20px;
   padding-bottom: 13px;
}
.list-description{
  font-size: 20px;
  font-weight: 400;
  line-height: 24.02px;
  color: white;
}
@media (max-width: 860px){
.image{
  margin: 44px 30px 0 0;
}
.container{
  padding: 27px 100px 0 97px;
}

}
@media (max-width: 375px) {
  
  .image img{
    border-radius: 0px;
    /* height: 100%; */
    object-fit: cover;
  }
  .image{
    position: absolute;
    
    margin: 0;
    padding: 0;
  
    
  }
  nav p{
    display: none;
  }

  nav{
    flex-direction: column;
    height: 324px;
    margin: 0;
    padding: 0;
  }
  
  .next{
  z-index: 1;
  background-color: var(--icons);
  
  
  }
  .arrow{
    
  -webkit-filter: brightness(0) invert(1);
 filter: brightness(0) invert(1);
  
  }
  .title{
    margin-top:150px;
    margin-left: 20px;
    position: relative;
  }
  .container{
    padding: 27px 10px 0 20px;
  }
  .sub-container{
   flex-direction:column-reverse;
   
   
  
  }
 
  .sub-sub-container :nth-of-type(1) {
    order: 3;
   
  }
  .sub-sub-container :nth-of-type(2) {
    order: 1;
  }
  .sub-sub-container :nth-of-type(3) {
    order: 2;
  }
  .follow{
    margin-left: 17px;
    width: 92px;
    height: 43px;
  }

  .share{
 
    width: 40px;
    height: 40px;
  }
  h1{
    font-size: 40px;
  }
  .body-container{
margin-right: 13px;
margin-right: 12px;
  }
  
  .one p{
    font-size: 16px;
    margin-left: 16px;
  }
  .music-log{
    width: 60px;
    height: 60px;
  }
  .list-title{
    font-size: 16px;
    margin-top: 0;
  }
  .list-description{
    font-size: 14px;
  }
  .heart{
    width: 20px;
    height: 18px;
    margin-top: 10px;
    
    

  }
  
  i{
    font-size: 16px;
    margin-top: 10px;
 
  }
  .list{
    margin-right: -20px;
  }
  .dot{
   padding: 8px;
    margin-top: 0px;
    /* margin-right: 20px; */
    font-size: 8px;
    background: transparent;
    
  }
}